@page
@model BookLand.Web.Areas.Admin.Pages.Books.CreateModel
@{
}

<form method="post" class="form" enctype="multipart/form-data">
    <div class="row">
        <div class="col-6">

             <div class="mb-3">
                <label asp-for="ImageFile" class="form-label"></label>
                <input class="form-control" type="file" asp-for="ImageFile" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="BookInputModel.Title" class="form-label"></label>
                <input class="form-control" type="text" asp-for="BookInputModel.Title" />
                <span asp-validation-for="BookInputModel.Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="BookInputModel.Author" class="form-label"></label>
                <input class="form-control" type="text" asp-for="BookInputModel.Author" />
                <span asp-validation-for="BookInputModel.Author" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="BookInputModel.Language" class="form-label"></label>
                <input class="form-control" type="text" asp-for="BookInputModel.Language" />
                <span asp-validation-for="BookInputModel.Language" class="text-danger"></span>
            </div>

             <div class="mb-3">
                <label asp-for="BookInputModel.Country" class="form-label"></label>
                <input class="form-control" type="text" asp-for="BookInputModel.Country" />
                <span asp-validation-for="BookInputModel.Country" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="BookInputModel.Year" class="form-label"></label>
                <input class="form-control" type="number" asp-for="BookInputModel.Year" />
                <span asp-validation-for="BookInputModel.Year" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="BookInputModel.Pages" class="form-label"></label>
                <input class="form-control" type="number" asp-for="BookInputModel.Pages" min=1 />
                <span asp-validation-for="BookInputModel.Pages" class="text-danger"></span>
            </div>

             <div class="mb-3">
                <label asp-for="BookInputModel.Link" class="form-label"></label>
                <input class="form-control" type="text" asp-for="BookInputModel.Link" />
                <span asp-validation-for="BookInputModel.Link" class="text-danger"></span>
            </div>

            <button class="btn btn-primary mt-3">Submit</button>
        </div>
    </div>

</form>