@page "{id}"
@model BookLand.Web.Areas.Admin.Pages.Books.DetailsModel
@{
}

<h1>Book Details</h1>


<img src="data:image/png;base64,@Convert.ToBase64String(Model.Book.ImageData)" alt="Red dot" />

<table class="table">
    <tr>
        <td>Title</td>
        <td>@Model.Book.Title</td>
    </tr>
    <tr>
        <td>Author</td>
        <td>@Model.Book.Author</td>
    </tr>
    <tr>
        <td>Year</td>
        <td>@Model.Book.Year</td>
    </tr>

    <tr>
        <td>Pages</td>
        <td>@Model.Book.Pages</td>
    </tr>
</table>

