@page
@model BookLand.Web.Pages.Shop.IndexModel
@{
}


<div class="row">

    @foreach (var book in Model.BookList)
    {
        <div class="col-4 text-center">
            <partial name="_BookItem" model="book" />
        </div>
    }

</div>
