<div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action disabled" aria-current="true" dis>
                        Admin Panel
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Users</a>
                    <a asp-page="/books/index" asp-area="admin" class="list-group-item list-group-item-action">Books</a>
                </div>